$primary-text-color: #000000;
$title-text-color: #d41443;
$accent-color: #ffa5ba;
$background-header-color: #ffb8ca;
$primary-white-color: #ffffff;
$second-text: #907e82;
$background: #fff5f6;
$hover-button: #ecebeb;
$card-border: #e5e5e57e;
$contact-orange-bg: #f0d1a5;
$contact-green-bg: #c2e297;
$contact-item-border: #e1e1e1;
$label-border: #d41444b0;
$input-border: #00000088;
$product-card-pink: #ffb8ca;
$contact-orange-bg: #f0d1a5;
$contact-green-bg: #c2e297;
