.form-modal {
    width: 100%;

    &__label {
        display: block;
        color: $label-border;

        &:hover,
        &:focus {
            color: $title-text-color;
        }
    }

    &__input {
        display: block;
        width: 100%;
        border-radius: 4px;
        border: 1px solid $input-border;
        outline: none;

        &:hover,
        &:focus {
            border: 1px solid $title-text-color;
        }
    }

    &__text {
        width: 100%;
        border-radius: 4px;
        border: 1px solid $input-border;
        resize: none;

        &:hover,
        &:focus {
            border: 1px solid $title-text-color;
        }
    }

    &__box {
        display: flex;
        justify-content: center;
    }

}